:root{
    --text-color: #FFF;
    --bg-button: #0B0E66;
    --bg-text: #26C7EA;
    --text-color2: #0A3853;
    --text-color3: #141414;
    --text-color4: #000;
}

.container{
    width: 1062px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border:  solid red;
}

.header-box{
    display: flex;
    align-items: center;
    
}

.header{
     background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url(../img/forest_top.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(43, 74, 97, 0.87);
    padding-top: 39px;
    padding-bottom: 39px;
    border-bottom: 3px #FFF;
    
}

.header-logo{
    width: 186px;
height: 72px;
flex-shrink: 0;
margin-right: 184px;
}

.nav-list{
    display: flex;
    gap: 38px;
    
}

.nav-link{
    color: var(--text-color);
    text-align: center;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 1.2;
}

.header-list{
    display: flex;
    margin-left: auto;
    align-items: center;
    

    
}

.header-btn{
    color: var(--bg-text);
text-align: justify;
font-family: "Headland One";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.25;
width: 141px;
height: 41.694px;
flex-shrink: 0;
background-color: var(--bg-button);
border-radius: 45px 0px;
border: 3px solid #26C7EA;
margin-right: 49px;
text-align: center;
}

.header-link{
    color: var(--text-color);

text-align: center;
font-family: "Hammersmith One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.25;



}

.header-link2{
    color: var(--text-color);

text-align: center;
font-family: "Hammersmith One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.25;
margin-left: 56px;

}

.section-clan{
    background-image: url(../img/forest.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(43, 74, 97, 0.87);
    padding-top: 204px;
    padding-bottom: 155px;
}

.clan-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clan-text{
    color: var(--text-color);
    width: 298px;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
}

.clan-img{
    width: 152px;
height: 40px;
flex-shrink: 0;
}

.clan-text2{
    color: var(--text-color);
    width: 376px;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
margin-bottom: 42px;
}

.clan-btn{
    color: var(--bg-text);
    
text-align: center;
font-family: "Headland One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.25;
background-color: var(--bg-button);
width: 260px;
height: 80px;
flex-shrink: 0;
border-radius: 45px 0px;
border: 3px solid #26C7EA;
padding: 10px 31px 10px 30px;
}


.nav-list2{
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: flex-end;
}    


.nav-link2{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    align-items:flex-end ;
    
    
    
}
.nav-link3{
    width: 34px;
height: 30px;
flex-shrink: 0;


}
.nav-link4{
    width: 50px;
height: 30px;
flex-shrink: 0;
margin-top: 30px;

}

.section-jake{
    padding-top: 75px;
    padding-bottom: 12px;
}

.jake-submitle{
    color: var(--text-color2);

text-align: justify;
font-family: "Inter";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
text-align: center;
margin-bottom: 16px;
}


.jake-text{
    color: var(--text-color4);

text-align: center;
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.21;
margin-bottom: 8px;
}


.jake-div{
    display: flex;
    justify-content: center;
    
}

.jake-img{
    width: 400px;
height: 120px;
flex-shrink: 0;



}

.section-trailer{
    background-image: url(../img/neytiri.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(43, 74, 97, 0.87);
    padding-top: 329px;
    padding-bottom: 330px;
    text-align: center;
}

.trailer-btn{
    color: var(--bg-text);


font-family: "Headland One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.25;
    width: 260px;
height: 79.784px;
flex-shrink: 0;
border-radius: 45px 0px;
border: 3px solid var(--bg-text);

background-color: var(--bg-button);
padding: 25px 19px 25px 20px;
}

.section-sully{
    padding-top: 75px;
    padding-bottom: 10px;
    
}

.sully-submitle{
    color: var(--text-color3);

text-align: justify;
font-family: "Inter";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
text-align: center;
margin-bottom: 16px;
}

.section-language{
    background-image: url(../img/air_islands.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(43, 74, 97, 0.87);
    padding-top: 58px;
    padding-bottom: 57px;
}

.language-submitle{
    color: var(--text-color3);

text-align: justify;
font-family: "Headland One";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 1.25;
text-align: center;
margin-bottom: 45px;
}

.language-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    
}


.language-item{
    flex-basis: calc((100% - 48px) / 3);
    
}

.language-div{
    padding-top: 36px;
    padding-bottom: 36px;
    background: rgba(255, 255, 255, 0.70);

   


}

.language-text{
    color: var(--text-color3);

text-align: justify;
font-family: "Headland One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1; 
margin-bottom: 40px;
text-align: center;
}

.language-div-img{
    display: flex;
    justify-content: center;
}

.language-img{
    width: 152px;
height: 40px;
flex-shrink: 0;

}

.language-text2{
    color: var(--text-color4);

text-align: justify;
font-family: "Headland One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1;
margin-top: 40px;
text-align: center;
}

.section-neytiri{
    padding-top: 75px;
    padding-bottom: 10px;
}

.neytiri-submitle{
    color: var(--text-color3);

text-align: center;
font-family: "Inter";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
text-align: center;
margin-bottom: 16px;
}

.neytiri-text{
    color: var(--text-color4);

text-align: center;
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.21;
margin-bottom: 8px;
}

.neytiri-img{
    width: 400px;
height: 120px;
flex-shrink: 0;
}

.footer-box{
    display: flex;
    align-items: center;
    
    
    
}

.footer{
    background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url(../img/forest_top.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(43, 74, 97, 0.87);
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    text-align: center;
}

.footer-logo{
    width: 183px;
height: 70px;
flex-shrink: 0;
margin-right: 80px;

}



.footer-div{
    width: 2px;
height: 153px;
background-color: #FFF;
margin-right: 80px;
}

.footer-div1{
    margin: 20px;
}

.footer-div2{
    margin: 5px;
}

.footer-list{
    display: flex;
    padding-bottom: 79px;
    
}

.footer-span1{
    margin-right: 10px;
}
.footer-span{
    border-bottom: 1px dotted white;
    width: 100px;
    display: inline-block;
}

.footer-link{
    color: var(--text-color);
text-align: justify;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;

}

.footer-div3{
    margin-top: 20px;
}

.footer-text{
    color: var(--text-color);

text-align: justify;
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.22;
}